version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: psql
    restart: always
    env_file: 
      - .env
    environment:
      POSTGRES_DB: ${ONPREM_DB_NAME}
      POSTGRES_USER: ${ONPREM_DB_USER}
      POSTGRES_PASSWORD: ${ONPREM_DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
